body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
}

.calculator {
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    background: linear-gradient(145def, #3a3a3a, #2a2a2a);
}

.answer-screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 220px;
    height: 60px;
    border: solid 2px black;
    margin: 0 auto 5px auto;
    padding-right: 10px;
    background-color: #c8f5c8;
    text-align: right;
    box-shadow: inset0px 3px 8px rgba(0,0,0,0.4);
    border-radius: 4px;
    border-radius: 8px 8px 0 0;
    transform: perspective(300px) rotateX(5deg);
    transform-origin: bottom;
}

button {
    color: white;
    background-color: #0e0e0e;
    border: none;
    border-bottom: 4px solid #999;
    border-right: 4px solid #999;
    border-radius: 4px;
    height: 40px;
    width: 40px;
    transition: opacity 0.1s ease;
}
button:active {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    transform: translateY(2px);
}

button:hover {
    opacity: 0.8;
}

.key-pad button{
    margin: 3px;
}

.back-button {
    width: 60px;
}

.clear-button {
    width: 145px;
}

button.operator {
    background-color: orange;
    color: white;
}

button.equal {
    background-color: blue;
    color: white;
}

button.operator, button.equal {
    font-size: 18px;
}